<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotek.dao.EmployeesMapper">
    <insert id="addNewEmployees">
        INSERT INTO T_USER VALUES (USER_SEQ.nextval,#{uname},#{upass})
    </insert>
    <delete id="deleteEmployees"></delete>
    <select id="getAllEmployees" resultType="com.iotek.model.Employees"></select>
    <select id="getAllEmployeesByPages" resultType="com.iotek.model.Employees"></select>
    <select id="getAllEmployeesByDepartmemt" resultType="com.iotek.model.Employees"></select>
    <select id="getAllEmployeesByDepartmentPages" resultType="com.iotek.model.Employees"></select>
    <select id="getAllEmployeesByDepartmentAndTitle" resultType="com.iotek.model.Employees"></select>
    <select id="getAllEmployeesByDepartmentAndTitlePages" resultType="com.iotek.model.Employees"></select>


</mapper>