<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotek.dao.InterviewMapper">
    <update id="updateInterviewRead">
        UPDATE T_INTERVIEW SET I_READ=#{iread}
    </update>
    <update id="updateInterviewInvite">
        UPDATE T_INTERVIEW SET I_INVITE=#{iinvite}
    </update>


    <select id="getInterview" resultType="com.iotek.model.Interview">
        SELECT * FROM T_INTERVIEW WHERE I_READ=#{0}
    </select>
    <select id="getInterviewByPage" resultType="com.iotek.model.Interview">
         SELECT * from (SELECT T_INTERVIEW.*,rownum rn FROM T_INTERVIEW WHERE T_INTERVIEW.I_READ=#{0})
        and rn between #{1} and #{2}
    </select>

</mapper>